html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

html, body {
  background-color: #1f1f1f;
  font-family: "Prompt", Helvetica, sans-serif;
  overflow-x: hidden;
}

.page-container {
  background: white;
}

p, a {
  font-family: -apple-system, Helvetica, sans-serif;
}

.button {
  border: 2px solid #E72C2C;
  padding: 14px 26px;
  font-size: 12px;
  color: #E72C2C;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  position: relative;
  z-index: 2;
}

em {
  font-style: italic;
}

.button:hover {
  background-color: #E72C2C;
  color: white;
}

nav {
  box-sizing: border-box;
  text-align: center;
  position: relative;
  background: #1f1f1f url("../images/nav_bg.jpg") top left repeat;
  background-size: 15px auto;
  padding: 24px 40px 20px;
}

nav p {
  font-size: 10px;
  color: #757575;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 4px 0;
}

h2 {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 1;
  position: relative;
  font-weight: bold;
}

p {
  line-height: 1.4;
  font-weight: 100;
}

.bbmc-logo {
  width: 140px;
  display: inline-block;
}

.nr2003-logo {
  display: none;
}

.track-nav {
  padding: 50px 0;
  text-align: center;
}

.track-nav li.new::after,
.track.new h2::before {
  content: "NEW";
  font-size: 11px;
  padding: 2px 3px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #E72C2C;
  position: absolute;
  top: 65px;
  left: 50%;
  margin-left: -18px
}

.track.new h2::before {
  top: 0px;
  left: 0;
  margin-left: 0
}

.track-nav li {
  vertical-align: top;
  padding: 84px 0 30px;
  display: inline-block;
  width: 210px;
  text-align: center;
  position: relative;
}

.track-nav img {
  position: absolute;
  height: 90px;
  width: 150px;
  top: 0;
  left: 50%;
  margin-left: -75px;
  opacity: .2;
  transition: opacity 150ms ease-in-out;
}

.track-nav a:hover img {
  opacity: 1;
}

.track-nav a:hover .track-title {
  color: #E72C2C
}

.track-title,
.track-status {
  display: block;
  line-height: 1.6
}

.track-title {
  font-size: 15px;
  color: #222;
  font-weight: 600;
  letter-spacing: 0px;
}

.pending .track-title {
  color: #7B7B7B;
}

.track-status {
  font-size: 13px;
  color: #7B7B7B;
  text-align: center;
}

.track {
  background: #1F1F1F;
  position: relative;
  margin-bottom: 30px;
}

.details-sidebar {
  background: #1F1F1F;
  background-size: 26px 26px;
  color: white;
  padding: 80px 40px;
  position: relative;
  overflow: hidden;
}

.track h2 {
  margin-bottom: .5em;
  position: relative;
  z-index: 2;
}

.track p,
#donate p {
  color: #999;
  line-height: 1.8;
  font-size: 14px;
  margin-bottom: 2em;
  max-width: 400px;
  position: relative;
  z-index: 2;
}

.track a {
  color: #E72C2C;
}

.track a:hover {
  color: #fff;
}

.track.new h2 {
  padding-top: 30px;
}

.details-sidebar img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  z-index: 1;
}

.gallery {
  background-color: #1F1F1F;
  position: relative;
  z-index: 1;
  flex: 1;
  overflow: hidden;
}

.gallery li {
  position: relative;
}

.gallery img {
  display: block;
  width: 100%;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.gallery li:nth-child(n+2) {
  position: absolute;
  top: 0;
  left: 0;
}

.gallery li.active img {
  opacity: 1
}

.next-btn {
  position: absolute;
  display: block;
  right: 12px;
  bottom: 12px;
  z-index: 10;
  background: #111 url("../images/right_arrow.png") center no-repeat;
  background-size: 10px auto;
  width: 40px;
  height: 40px;
  font-size: 0;
  text-indent: -9999px;
  opacity: 0.3;
  transition: opacity 100ms ease-in-out;
}

.next-btn:hover {
  opacity: 1
}

#donate {
  padding: 80px 0 620px;
  text-align: left;
  background: #000 url("../images/about_bg_vertical.jpg") 0 440px no-repeat;
  background-size: 140% auto;
}

#donate h2 {
  margin-bottom: 1.4em
}

#donate h2,
#donate p {
  display: block;
  text-shadow: 0 1px 2px #000;
}

#donate p,
#donate h2,
#donate form {
  padding: 0 20px;
  color: white;
}

form input[type=image] {
  margin-top: 60px;
  width: 186px;
  height: 57px;
  opacity: 1;
  display: block;
  transition: opacity 100ms ease-in-out;
}

form input[type=image]:hover {
  opacity: .8;
}

.sandbox-track {
  width: 80%;
  margin-bottom: 40px;
}

footer {
  color: #999;
  background: white url("../images/content_bg.jpg") bottom left repeat-x;
  background-size: 32px auto;
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

footer img {
  width: 70px;
  padding: 14px 0 0;
}

footer .wrapper {
  padding: 40px 0 90px;
}

footer a {
  color: #656565;
}

footer a:hover {
  color: #222;
}

@media screen and (min-width:360px) {
  #donate {
    padding-bottom: 480px;
    background-position: 0 400px;
    background-size: 100% auto;
  }
}

@media screen and (min-width:410px) {
  #donate {
    padding-bottom: 480px;
    background-position: 0 300px;
  }
}

@media screen and (min-width:460px) {
  #donate {
    padding-bottom: 520px;
    background-position: 0 220px;
  }
}

@media screen and (min-width:480px) {
  #donate {
    padding-bottom: 680px;
    background-position: 0 240px;
  }
}

@media screen and (min-width:520px) {
  .details-sidebar img {
    width: 230px;
  }

  #donate {
    padding-bottom: 720px;
    background-position: 0 120px;
  }
}

@media screen and (min-width:625px) {
  #donate {
    padding-bottom: 760px;
    background-position: 0 0px;
  }
}

@media screen and (min-width:720px) {
  #donate {
    padding-bottom: 820px;
  }
}

@media screen and (min-width:768px) {
  .wrapper {
    width: 96%;
  }

  .nr2003-logo {
    display: block;
    position: absolute;
    top: 24px;
    right: 40px;
    width: 60px;
  }

  .track-nav {
    padding: 60px 0 80px;
    text-align: center;
  }

  .track-nav li.new::after,
  .track.new h2::before {
    top: 75px;
  }

  .track-nav li {
    padding: 94px 0 0;
  }

  .track-nav img {
    top: 10px;
  }

  h2 {
    letter-spacing: -.2px;
    font-size: 36px;
  }

  .track {
    margin-bottom: 20px;
  }

  .track p {
    font-size: 15px;
  }

  .details-sidebar img {
    width: 280px;
  }

  .sandbox-track {
    width: 495px;
    margin-bottom: 60px;
  }

  #donate {
    padding: 160px 0;
    background: #111 url("../images/about_bg.jpg") top left no-repeat;
    background-size: 120% auto;
  }

  #donate p,
  #donate h2,
  #donate form {
    padding: 0 40px;
  }
}

@media screen and (min-width:1024px) {
  .track {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 30px;
  }

  .details-sidebar {
    width: 30%;
  }

  .details-sidebar img {
    width: 340px;
    bottom: 60px;
  }

  .gallery img {
    width: auto;
    height: 600px;
    margin-left: -230px;
  }

  #donate {
    background-size: 100% auto;
  }

  footer img {
    padding-top: 18px;
    width: 100px;
  }
}

@media screen and (min-width:1180px) {
  .details-sidebar {
    width: 25%;
  }

  .gallery img {
    width: 140%;
    height: auto;
    margin-left: -20%;
  }

  .details-sidebar img {
    width: 432px;
    bottom: 20px;
  }
}

@media screen and (min-width:1280px) {
  nav {
    padding: 44px 40px 40px;
  }

  .track-nav {
    padding: 80px 0 100px;
    text-align: center;
  }

  .nr2003-logo {
    top: 44px;
  }

  .gallery img {
    width: 130%;
    margin-left: -15%;
  }

  footer {
    font-size: 12px;
  }

  footer img {
    width: 120px;
  }

  footer .wrapper {
    padding: 140px 0 170px;
    position: relative;
  }
}

@media screen and (min-width:1420px) {
  .details-sidebar {
    width: 26%;
    padding: 120px 60px;
  }

  h2 {
    font-size: 46px;
  }

  #donate p,
  #donate h2,
  #donate form {
    padding-left: 60px;
  }
}

@media screen and (min-width: 1920px) {
  .gallery img {
    width: 120%;
    margin-left: -10%;
  }
}
