html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:link {
  text-decoration: none;
  color: #E72C2C;
  transition: color 100ms ease-in-out;
}

a:hover,
a:visited:hover {
  color: #111;
}

a:visited {
  color: #9f4242;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.track,
#archives,
#if-you-like-us {
  max-width: 1440px;
  margin: 0 auto;
}

html, body {
  background-color: #fff;
  font-family: "Rubik", "Helvetica", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

.page-container {
  background: white;
}

p, a, li {
  font-family: "Helvetica", "Helvetica Neue", sans-serif;
}

em {
  font-style: italic;
}

code {
  font-family: "Consolas", monospace;
  background: #f1f1f1;
  padding: 0.1em .2em;
}

.button,
input[type=submit] {
  border: 3px solid #E72C2C;
  padding: 14px 20px;
  font-size: 14px;
  color: #E72C2C;
  line-height: 1;
  font-weight: bold;
  display: inline-block;
  position: relative;
  z-index: 2;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  transform: translate3d(0,0,0);
  transition: box-shadow 150ms ease-in-out, transform 150ms ease-in-out, background-color 100ms ease-in-out, color 100ms ease-in-out;
}

input[type=submit] {
  background-color: white;
  margin-top: 0;
  transform-origin: right;
  background-color: #E72C2C;
  color: white;
  font-size: 12px;
  -webkit-appearance: none;
}

.button:hover,
input[type=submit]:hover {
  background-color: #E72C2C;
  color: white;
  transform: translate3d(0,-1px,0);
  box-shadow: 0 8px 20px rgba(0,0,0,.3)
}

nav {
  box-sizing: border-box;
  background: #fff;
  text-align: left;
}

nav .wrapper {
  position: relative;
  border-bottom: 1px solid #eaeaea;
  padding: 40px 0 20px
}

nav li {
  display: inline-block;
  padding: 20px 0;
}

nav li:first-child {
  margin-right: 20px;
}

nav li:last-child {
  display: none;
}

nav form {
  display: none;
}

.performance-guide nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: transparent;
}

.performance-guide nav .wrapper {
  border: 0;
  width: 90%;
}

h2 {
  font-size: 22px;
  line-height: 1.3;
  font-weight: bold;
  margin-bottom: 1em;
  letter-spacing: -.03em;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
}

p, li {
  font-size: 12px;
  color: #616161;
  line-height: 1.8;
}

p + p {
  margin-top: 2em;
}

p + a {
  margin-top: 2em;
}

.bbmc-logo {
  width: 140px;
  display: inline-block;
}

.nr2003-logo {
  width: 80px;
}

.track-nav {
  padding: 50px 0 50px;
  text-align: center;
}

.track-nav li.new::after,
.track.new h2::before {
  content: "NEW";
  font-family: "Rubik", "Helvetica", "Helvetica Neue", sans-serif;
  font-size: 10px;
  padding: 3px 4px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #E72C2C;
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -16px;
  pointer-events: none;
  line-height: 1;
}

.track.new h2::before {
  top: 5px;
  left: 0;
  margin-left: 0
}

.track-nav li {
  vertical-align: top;
  padding: 84px 0 30px;
  display: inline-block;
  width: 150px;
  text-align: center;
  position: relative;
}

.track-nav img {
  position: absolute;
  height: 90px;
  width: 120px;
  top: 0;
  left: 50%;
  margin-left: -60px;
  opacity: .2;
  transition: opacity 150ms ease-in-out;
}

.track-nav a:hover img {
  opacity: 1;
}

.track-nav a:hover .track-title,
nav li.active a:link,
nav li.active a:visited,
nav a:hover,
nav a:link:hover {
  color: #E72C2C
}

.track-title,
.track-status {
  display: block;
  line-height: 1.4
}

.track-title,
nav a:link,
nav a:visited {
  font-size: 11px;
  color: #333;
  font-weight: 600;
  font-family: "Rubik", "Helvetica", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  line-height: 1.4;
}

.pending .track-title {
  color: #7B7B7B;
}

.track-status {
  font-size: 12px;
  color: #7B7B7B;
  text-align: center;
}

.track {
  background: #1F1F1F;
  position: relative;
  margin-bottom: 40px;
}

.details-sidebar {
  background: #f5f7f9;
  color: #111;
  padding: 80px 40px;
  position: relative;
  overflow: hidden;
}

.details-sidebar p,
#if-you-like-us p {
  max-width: 400px;
  position: relative;
  z-index: 2;
}

.track a {
  color: #E72C2C;
}

.track a:hover {
  color: #fff;
}

.gallery {
  background-color: #1F1F1F;
  position: relative;
  z-index: 1;
  flex: 1;
  overflow: hidden;
}

.gallery li {
  position: relative;
}

.gallery img {
  display: block;
  width: 100%;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.gallery li:nth-child(n+2) {
  position: absolute;
  top: 0;
  left: 0;
}

.gallery li.active img {
  opacity: 1
}

.next-btn {
  position: absolute;
  display: block;
  right: 12px;
  bottom: 12px;
  z-index: 10;
  background: rgba(0,0,0,.5) url("../images/right_arrow.png") center no-repeat;
  background-size: 10px auto;
  width: 40px;
  height: 40px;
  font-size: 0;
  text-indent: -9999px;
  opacity: 0.8;
  transition: background-color 200ms ease-in-out;
}

.next-btn:hover {
  background-color: #111;
}

form input[type=submit] {
  margin-top: 2.5em;
  opacity: 1;
  display: inline-block;
}

.sandbox-track {
  width: 80%;
  margin-bottom: 40px;
}

#if-you-like-us {
  padding: 4em 0 6em;
}

#if-you-like-us input[type=submit] {
  font-size: 14px;
  padding: 18px 35px;
}

#if-you-like-us .wrapper {
  margin: 0 0 0 10%;
  width: 80%;
}

#if-you-like-us a {
  color: #656565;
  text-decoration: underline;
}

#if-you-like-us a:hover {
  color: #E72C2C;
}

.charlotte-image {
  width: 100%;
}

.half-image {
  width: 100%;
}

.about-image {
  margin: 6em auto 0;
  display: block;
  width: 80%;
}

#archives {
  padding: 6em 0 0;
}

#archives ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 1px solid #eaeaea;
}

#archives li {
  flex: 1;
  border-top: 1px solid #eaeaea;
  position: relative;
  box-sizing: border-box;
}

#archives li:nth-child(odd) {
  padding: 2em 5% 2em 0;
  border-right: 1px solid #eaeaea;
}

#archives li:nth-child(even) {
  padding: 2em 0 2em 5%;
}

.download-title {
  font-size: 16px;
  display: block;
  margin-bottom: 1em;
  color: #333;
}

#archives h2 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 3em;
  color: #767676;
}

#archives a {
  display: inline-block;
  padding: .5em 1em;
  background: #f1f1f1;
  color: #333;
  font-size: 12px;
  font-weight: bold;
  flex: 1;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  transform: translate3d(0,0,0);
  transition: box-shadow 150ms ease-in-out, transform 150ms ease-in-out, background-color 100ms ease-in-out, color 100ms ease-in-out;
}

#archives a:hover {
  background-color: #E72C2C;
  color: white;
  transform: translate3d(0,-1px,0);
  box-shadow: 0 8px 20px rgba(0,0,0,.3)
}

/*
* PERFORMANCE GUIDE
*/
.performance-hero {
  position: relative;
}

.performance-hero .bbmc-logo {
  position: absolute;
  top: 40px;
  left: 35%;
  width: 100px;
  z-index: 9999;
}

.performance-hero img {
  width: 180%;
  margin-left: -30%;
}

.performance-hero .heading {
  position: absolute;
  bottom: 40px;
  left: 5%;
  z-index: 9999;
}

.performance-hero h1 {
  font-size: 32px;
  line-height: .9;
  padding-bottom: .4em;
  text-transform: uppercase;
  color: white;
  margin-left: -.05em;
}

.performance-hero p {
  color: rgba(255,255,255,.5);
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.wrapper.flex {
  padding: 40px 0;
  width: 90%;
  max-width: 100%;
  position: relative;
}

.wrapper.flex h2 {
  max-width: 300px;
  font-size: 20px;
  text-transform: uppercase;
}

.performance-guide .full-bleed {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.wrapper.flex li {
  display: inline-block;
  vertical-align: top;
  padding-top: 30px;
  max-width: 400px;
}

.wrapper.flex li strong {
  font-size: 16px;
  font-weight: bold;
  display: block;
  line-height: 1.3;
  color: #111;
  font-family: "Rubik", "Helvetica", "Helvetica Neue", sans-serif;
}

.wrapper.flex li span {
  margin-top: .5em;
  line-height: 1.8;
  display: block;
}

.performance-guide footer .wrapper {
  border-top: 1px solid #f1f1f1;
  padding: 80px 0;
}

.performance-guide footer form {
  position: absolute;
  top: 40px;
  right: 0;
}

footer {
  text-align: center;
  padding: 6em 0;
}

@media screen and (min-width:520px) {
  .details-sidebar img {
    width: 230px;
  }
}

@media screen and (min-width:768px) {
  h2 {
    font-size: 28px;
  }

  .wrapper {
    width: 96%;
  }

  nav {
    text-align: right;
  }

  nav .wrapper {
    padding: 0
  }

  .performance-guide nav .wrapper {
    width: 80%;
  }

  nav form {
    display: inline-block;
  }

  nav input[type=submit] {
    margin: 0;
  }

  .nr2003-logo {
    width: 60px;
  }

  .bbmc-logo {
    position: absolute;
    top: 45px;
    left: 0;
  }

  nav li {
    display: inline-block;
    padding: 30px 0;
    margin-right: 40px;
  }

  nav li:last-child {
    display: inline-block;
    margin-right: 0;
  }

  .track-nav {
    padding: 40px 0 80px;
    text-align: center;
  }

  .track-nav.row-one {
    padding-bottom: 0;
  }

  .track-nav.row-one {
    padding-top: 10px;
  }

  .track-nav li.new::after {
    top: 90px;
  }

  .track-nav li {
    width: 16.6%;
    padding: 120px 0 0;
  }

  .track-nav img {
    top: 30px;
  }

  .details-sidebar {
    padding: 60px 40px;
  }

  .details-sidebar h2,
  .details-sidebar p {
    width: 90%;
    max-width: 400px;
  }

  .details-sidebar img {
    width: 280px;
  }

  #if-you-like-us {
    padding: 8em 0 10em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  #if-you-like-us .wrapper {
    flex: 1;
    margin-left: 5%;
  }

  #if-you-like-us .about-image {
    max-width: 40%;
    height: auto;
    margin: 0 5% 0 10%;
    display: block;
  }

  .sandbox-track {
    width: 495px;
    margin-bottom: 60px;
  }

  .download-title {
    font-size: 18px;
  }

  #archives a {
    font-size: 14px;
    font-weight: normal;
  }

  .performance-hero img {
    width: 100%;
    margin-left: 0;
  }

  .performance-hero .bbmc-logo {
    top: 80px;
    left: 10%;
  }

  .performance-hero .heading {
    bottom: 80px;
    left: 10%;
  }

  .performance-hero h1 {
    font-size: 38px;
  }

  .wrapper.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 80px 0;
    width: 80%;
  }

  .wrapper.flex h2 {
    width: 30%;
    max-width: 100%;
    font-size: 24px;
  }

  .wrapper.flex ul {
    width: 50%;
    margin-left: 20%;
  }

  .wrapper.flex li {
    width: 45%;
    padding-top: 40px;
  }

  .wrapper.flex li strong {
    font-size: 18px;
  }

  .wrapper.flex li span {
    margin-top: 1em;
  }

  .wrapper.flex li:nth-child(1),
  .wrapper.flex li:nth-child(2) {
    padding-top: 0;
  }

  .wrapper.flex li:nth-child(odd) {
    margin-right: 5%;
  }

  .wrapper.flex li:nth-child(even) {
    margin-left: 5%;
  }
}

@media screen and (min-width:1024px) {
  p, li {
    font-size: 13px;
  }

  .wrapper {
    width: 92%;
  }

  .nr2003-logo {
    width: 100px;
  }

  .track-nav.row-one {
    padding-top: 30px;
  }

  .track {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 60px;
  }

  .details-sidebar {
    width: 30%;
  }

  .details-sidebar img {
    width: 340px;
    bottom: 60px;
  }

  .gallery img {
    width: auto;
    height: 500px;
    margin-left: -130px;
  }

  #if-you-like-us {
    padding-bottom: 12em;
  }

  #if-you-like-us .wrapper {
    margin-left: 10%;
  }

  #if-you-like-us .about-image {
    margin-right: 10%;
  }

  #archives {
    padding: 12em 0 0;
  }

  #archives h2 {
    font-size: 14px;
  }

  #archives li:nth-child(odd) {
    padding: 3em 5% 3em 0;
  }

  #archives li:nth-child(even) {
    padding: 3em 0 3em 5%;
  }

  .download-title {
    font-size: 20px;
  }

  .performance-hero .bbmc-logo {
    top: 100px;
    width: 140px;
  }

  .performance-hero h1 {
    font-size: 51px;
  }

  .wrapper.flex {
    padding: 120px 0;
  }

  .wrapper.flex li {
    padding-top: 50px;
  }

  footer {
    padding: 8em 0;
  }

}

@media screen and (min-width:1180px) {
  .details-sidebar {
    width: 24%;
  }

  .gallery img {
    width: 128%;
    height: auto;
    margin-left: -14%;
  }

  .details-sidebar img {
    width: 432px;
    bottom: 20px;
  }
}

@media screen and (min-width:1280px) {
  p, li {
    font-size: 14px;
  }

  .details-sidebar {
    padding: 80px 60px;
  }

  .track {
    margin-bottom: 80px;
  }

  .track-nav {
    text-align: center;
  }

  .gallery img {
    width: 120%;
    margin-left: -10%;
  }

  footer {
    font-size: 12px;
  }

  footer .wrapper {
    padding: 140px 0 170px;
    position: relative;
  }

  #archives li {
    padding: 4em 0;
  }

  .performance-hero .bbmc-logo {
    top: 100px;
    width: 160px;
  }

  .performance-hero .heading {
    bottom: 100px;
  }

  .performance-hero h1 {
    font-size: 67px;
  }

  .wrapper.flex {
    padding: 140px 0;
  }

  .wrapper.flex li {
    padding-top: 60px;
  }

  .wrapper.flex h2 {
    font-size: 32px;
  }

  .wrapper.flex li strong {
    font-size: 20px;
  }
}

@media screen and (min-width:1440px) {
  nav .wrapper {
    width: 88%;
    max-width: 1440px;
  }

  nav li {
    padding: 40px 0;
  }

  .bbmc-logo {
    top: 58px;
  }

  .nr2003-logo {
    top: 48px;
  }

  .wrapper {
    width: 88%;
  }

  .track-nav {
    padding: 70px 0 90px;
  }

  .track-nav li {
    padding: 120px 0 20px;
  }

  .track-nav img {
    top: 20px;
  }

  .track-nav img {
    width: 150px;
    margin-left: -75px;
  }

  .details-sidebar {
    width: 22%;
  }

  .performance-hero .bbmc-logo {
    left: 15%;
  }

  .performance-hero .heading {
    left: 15%;
  }

  .wrapper.flex {
    width: 70%;
  }

  .performance-guide nav .wrapper {
    width: 70%;
  }

  .performance-guide .full-bleed {
    width: 80%;
  }

  .performance-guide footer .wrapper {
    padding: 100px 0;
  }

  .performance-guide footer form {
    top: 60px;
  }
}

@media screen and (min-width: 1920px) {
  h2 {
    font-size: 36px;
  }

  p {
    font-size: 16px;
  }

  .gallery img {
    width: 120%;
    margin-left: -10%;
  }

  .track-nav li {
    width: 10%;
  }

  .details-sidebar {
    width: 20%;
  }

  #if-you-like-us .wrapper {
    margin-left: 15%;
  }

  #if-you-like-us .about-image {
    margin-right: 15%;
  }
}
